.Site {
  display: flex;
  /* min-height: 100vh; */
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.please {
  flex-grow: 0;
  width: 100%;
  height: 30vw;
  background-color: #E0C122;
  text-align: center;
  align-content: center
}
